
.reg-section {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
    width: 100%;
    max-width: 1100px;
    margin: 40px auto; 
}


.reg-info {
    
    box-sizing: border-box;


    width: 400px; 
    height: 190px;
    
    background-color: #C8E3FF; 
    color: #0065A3;
    border-radius: 12px;
    padding: 20px;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.reg-title {
    margin: 0;
    font-weight: 700;
    font-size: 35px;
    
    font-family: "Nunito Sans", sans-serif;
}

.reg-fee {
    margin: 5px 0 0 0;
    font-weight: 900;
    font-size: 2.5rem;
    font-family: "Nunito Sans", sans-serif;
}

.reg-button-container {
    flex: 1; 
    max-width: 400px; 
}

.reg-button {
    background-color: #3d84f7;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    border: none;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.reg-button:hover {
    background-color: #0b5ed7;
}
